[submodule "feniks.web_app"]
	path = feniks.web_app
	url = https://github.com/mehmetgoren/feniks.web_app.git
[submodule "mngr"]
	path = mngr
	url = https://github.com/mehmetgoren/mngr.git
[submodule "detect_service"]
	path = detect_service
	url = https://github.com/mehmetgoren/detect_service.git
[submodule "snapshot_service"]
	path = snapshot_service
	url = https://github.com/mehmetgoren/snapshot_service.git
[submodule "deepstack_service"]
	path = deepstack_service
	url = https://github.com/mehmetgoren/deepstack_service.git
[submodule "cv2_read_service"]
	path = cv2_read_service
	url = https://github.com/mehmetgoren/cv2_read_service.git
[submodule "ffmpeg_service"]
	path = ffmpeg_service
	url = https://github.com/mehmetgoren/ffmpeg_service.git
[submodule "facial_recognition"]
	path = facial_recognition
	url = https://github.com/mehmetgoren/facial_recognition.git
[submodule "onvf"]
	path = onvf
	url = https://github.com/mehmetgoren/onvf.git
